// Bournest colours

$white: #fafafa;
$checkboxBg: #f5f5f5;
$light: #ebebeb;
$gray: #a0a0a0;
$checkboxBorder: #bfbfbf;
$slate: #646464;
$black: #000000;

$olive: #26400d;

$total: 2000px;
$wrap: 1080px;
$side: 292px;

$max479: "only screen and (max-width: 479px)";
$max599: "only screen and (max-width: 599px)";
$max767: "only screen and (max-width: 767px)";
$max899: "only screen and (max-width: 899px)";
$max1023: "only screen and (max-width: 1023px)";

$min480max899: "only screen and (min-width: 480px)  and (max-width: 899px)";
$min570max1023: "only screen and (min-width: 570px)  and (max-width: 1023px)";
$min768max1023: "only screen and (min-width: 768px)  and (max-width: 1023px)";
$min900max1099: "only screen and (min-width: 900px)  and (max-width: 1099px)";
$min1100max1399: "only screen and (min-width: 1100px) and (max-width: 1399px)";

$min480: "only screen and (min-width: 480px)";
$min600: "only screen and (min-width: 600px)";
$min768: "only screen and (min-width: 768px)";
$min900: "only screen and (min-width: 900px)";
$min1024: "only screen and (min-width: 1024px)";
$min1400: "only screen and (min-width: 1400px)";

$ipad: "only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)";

@mixin zeros($pos: absolute, $t: 0, $r: 0, $b: 0, $l: 0) {
  position: $pos;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

@mixin border($pos: bottom, $path: "svg/border/gray.svg") {
  background: url($path) repeat-x $pos;
}

%cf {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%ib {
  vertical-align: middle;
  margin-right: -0.25em;
  display: inline-block;
}

%center {
  &:before {
    @extend %ib;
    height: 100%;
    content: "";
  }
}

%title {
  &_main {
    line-height: 1 !important;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-bottom: 20px;
  }

  &_sub {
    @include border($path: "svg/border/black.svg");
    padding: 0 0 5px;
    margin-bottom: 20px;
  }
}

%p {
  &_first {
    @extend %medium;
    font-size: 120%;
  }
}

%button {
  @extend %medium;
  text-transform: uppercase;
  background-color: $light;
  letter-spacing: 0.08em;
  line-height: inherit;
  padding: 9px 9px 6px;
  display: block;
  width: 100%;

  @media #{$max767} {
    background-color: $black;
    padding: 12px 12px 9px;
    color: $white;
  }
}

%menu-svg {
  svg {
    fill: $gray;

    &:hover {
      fill: white;
    }
  }
}
