@mixin header-woo-notice {
  margin-bottom: 0;
  border-radius: 0;
}

@mixin restyle-woo-notice {
  border-left: 0;
}

@mixin checkout-reset {
  margin-bottom: 2rem;

  p + p {
    margin: 0 0 2rem;
  }

  h3 {
    margin-bottom: 1rem;
  }
}

.site-content {
  > .woocommerce {
    &-error {
      @include header-woo-notice;
    }
    &-message {
      @include header-woo-notice;
    }
    &-info {
      @include header-woo-notice;
    }
  }
}

h3#ship-to-different-address {
  label {
    border: 1px solid $checkboxBorder;
    padding: 1.25rem 1.25rem 1rem;
    background: $checkboxBg;
    border-radius: 4px;
    line-height: 1.2;
  }

  @media #{$min768} {
    span {
      padding-right: 3rem;
      display: block;
    }
    input#ship-to-different-address-checkbox {
      right: 1.25rem;
    }
  }
}

.woocommerce {
  &-billing-fields {
    @include checkout-reset;
  }

  &-shipping-fields {
    @include checkout-reset;
  }

  &-additional-fields {
    margin-bottom: 2rem;
  }

  &-terms-and-conditions-wrapper {
    margin-bottom: 2rem;
  }

  &-error {
    @include restyle-woo-notice;
  }
  &-message {
    @include restyle-woo-notice;
    background-color: $olive;
  }
  &-info {
    @include restyle-woo-notice;
  }

  &-product {
    &s-header {
      padding-bottom: 0 !important;
    }

    &-search {
      background-color: transparent;

      input[type="search"] {
        @extend %medium;
        width: calc(100% - 24px) !important;
        background-color: transparent;
        padding: 0 6px 0 0 !important;
        color: $gray;

        &:focus {
          color: $gray;
        }

        &::placeholder {
          color: $gray;
        }

        &:-ms-input-placeholder {
          color: $gray;
        }

        &::-ms-input-placeholder {
          color: $gray;
        }
      }
    }
  }

  .page-description {
    margin-bottom: 0;
  }
}

.wc-proceed-to-checkout {
  margin-bottom: 0;

  .button.checkout-button {
    margin-bottom: 0;
  }
}

.wooccm-field-first_name {
  margin: 0 0 2rem;
}

.widget_product_search {
  form {
    button[type="submit"] {
      background: url("svg/icon/search.svg") center no-repeat;
      -webkit-clip-path: none;
      text-indent: -9999px;
      position: relative;
      clip-path: none;
      height: 16px;
      width: 16px;
      margin: 0;
      left: 3px;
      top: 5px;
    }
  }
}
